.navItemContainer {
    height: 2rem;
    font-size: 0.9rem;
    font-weight: 300;
    color: rgb(170, 165, 165);
    padding: 0.3rem 0.3rem 0.3rem 2rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out 0s;
    border-left: 3px solid transparent;
}

.navItemContainer img {
    margin-right: 1rem;
    filter: invert(33%) sepia(9%) saturate(2246%) hue-rotate(208deg) brightness(94%) contrast(87%);
}


.navItemContainer:hover {
    background-color: rgb(40, 36, 53);
}

.isSelected {
    border-left: 3px solid white;
    color: rgb(255, 255, 255)
}

.isSelected img {
    border-left: 3px solid transparent;
    filter: invert(99%) sepia(3%) saturate(314%) hue-rotate(267deg) brightness(119%) contrast(100%);
}
